html {
  background-color: antiquewhite;
}

body {
  text-align: center;
  font-size: 18px;
}

h1 {
  font-size: 50px;
}

img {
  height: 100%;
}

div {
  border: 2px solid burlywood;
  margin: 10px;
}

#introPic {
  float: left;
}

#bio {
  float: right;
}

#bio > li {
  padding: 2px;
}

#pro {
  width: 50%;
  height: 50%;
}
@media all and (max-width: 600px){
  img {
    object-fit: contain;
    height: 100%;
    width: 100%;
  }
  #bio > * {
    width: 100vw;
    overflow: auto;
    font-weight: bolder;
  }
}
