h1 {
    color: crimson;

}
body {
    background-color: black;
}
p{
    color: darkred;
}

#serious {
    color: salmon
}
ul {
    color: firebrick
    margin: 22px, 44px dotted red;
    
}
h2 {
    
}